<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    

    body
    nav
        ul.menu
            li: a( href="/") inicio
              li: a(href= "/ejercicio1") ejercicio 1
            li: a(href= "/ejercicio2") ejercicio 2
            li: a(href= "/ejercicio3") ejercicio 3
            li: a(href= "/ejercicio4") ejercicio 4
            li: a(href= "/ejercicio5") ejercicio 5
            li: a(href= "/ejercicio6") ejercicio 6
            li: a(href= "/ejercicio7") ejercicio 7
            li: a(href= "/ejercicio8") ejercicio 8

    h1 EJERCICIO 5

    form(action="ejercicioCinco" method="POST")
            - 
            p numero uno : #{nu1}
            p numero dos : #{nu2}
            p numero tres : #{nu3}
            p numero cuatro : #{nu4}
            p numero cinco : #{nu5}
            p numero seis : #{nu6}
            p numero siete : #{nu7}
            p numero ocho : #{nu8}
            p numero nueve : #{nu9}
            p numero diez : #{nu10}
            - 
            input(class="btn btn-danger" type="submit", value="Generar")
            
    h4 el numero mayor es: #{numMayor}
    h4 el numero menor es: #{numMenor}
    h4 pares: #{par}
    h4 impares: #{impar}